.loginProcessingModalDialog {
  background-color: rgb(53, 57, 53);
  padding: 0.3em;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* To prevent scrollbar from showing up automatically */
  overflow: hidden;
}

.loadingSpinner {
  border: 0.5em solid #E0E0E0; 
  border-top: 0.5em solid yellow; 
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bodyBackgroundColorOverride {
  background-color: black;
}

