# RULES FOR frontend folder
/frontend/dist/
/frontend/node_modules/
/frontend/.vscode/  # Optional: exclude IDE settings
/frontend/.eslintcache
/frontend/.cache/

# Logs
/frontend/npm-debug.log*

# OS clutter (optional but safe to keep)
**/.DS_Store
**/Thumbs.db
**/Desktop.ini



# RULES FOR backend folder
/backend/**/HELP.md
/backend/**/target/
/backend/**/.mvn/wrapper/maven-wrapper.jar
!/backend/**/src/main/**/target/
!/backend/**/src/test/**/target/
/backend/*.log

### STS ###
/backend/**/.apt_generated
/backend/**/.classpath
/backend/**/.factorypath
/backend/**/.project
/backend/**/.settings
/backend/**/.springBeans
/backend/**/.sts4-cache

### IntelliJ IDEA ###
/backend/**/.idea
/backend/**/*.iws
/backend/**/*.iml
/backend/**/*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/**/build/
!/backend/**/src/main/**/build/
!/backend/**/src/test/**/build/

### VS Code ###
/backend/**/.vscode/
