.signupForm {
  background-color: var(--authPage-signupForm-backgroundColor);
  padding: 0.4em;
  color: var(--authPage-signupForm-textColor);
  font-size: 1.25rem;
}

.signupFormHeader {
  font-size: 1.5rem;
  text-align: center;
}

.textField {
  margin-top: 0.3em;
  outline: none;
  background-color: var(--authPage-signupForm-textField-backgroundColor);
  width: 100%;
  color: var(--authPage-signupForm-TextField-textColor);
  padding: 0 0.1em;  
}

.errorStateForTextField {
  border: 0.1em solid var(--authPage-signupForm-textField-errorState-border-color);
}

.showPasswordCheckboxAndLabelWrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
}

.showPasswordCheckbox {
  accent-color: var(--authPage-signupForm-showPasswordCheckbox-backgroundColor);
  cursor: pointer;
}

.showPasswordCheckboxLabel {
  margin-left: 0.2em;
  cursor: pointer;
}

.securityQuestionAndAnswersIntro {
  margin-top: 0.5em;
}

.countryCodeDropDown {
  width: 20%;
}

.phoneNumberTextField {
  width: 80%;
  padding: 0 0.1em;
}

.phoneNumberLabelAndFormControlsWrapper {
  margin-top: 0.3em;
}

.formSubmitContinueButtonWrapper {
  display: flex;
  justify-content: center;
}

.formSubmitContinueButton {
  background-color: var(--authPage-signupForm-formSubmitContinueButton-backgroundColor);
  margin-top: 0.3em;
  padding: 0.2em;
  cursor: pointer;
}

.formSubmitContinueButton:active {
  transform: scale(1.1);
}

.userHelperTextsWrapper {
  color: var(--authPage-signupForm-textColor);
  font-size: 1.25rem;
  margin-top: 0.3em;  
}

.loginUserHelperLink {
  color: var(--authPage-signupForm-userHelperTextLink-text-color);
}

.forgotPasswordHelperLink {
  color: var(--authPage-signupForm-userHelperTextLink-text-color);
}

.rulesHeaderText {
  color: var(--authPage-signupForm-userHelperText-rulesHeader-text-color);
}

.rulesHeaderAndTextWrapper {
  margin-top: 0.7em;
}

.rulesTextWrapperList {
  list-style-type: none;
}

.rulesTextWrapperList > li::before {
  content: "• ";
}

.forgotPasswordUserHelperText {
  margin-top: 0.3em;
}

.otpDialog {
  background-color: var(--authPage-signupForm-dialog-backgroundColor);
  color: var(--authPage-signupForm-dialog-text-color);
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 0.3em;
  padding-bottom: 0.8em;
  font-size: 1.25rem;
}

.otpDialogHeaderText {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.otpdialogHeaderTextAndCloseButtonWrapper {
  display: flex;
  justify-content: end;
}

.dialogCloseButton {
  background-color: transparent;
  border: none;
  background-image: var(--authPage-signupForm-dialog-closeButton-background-image);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
}



.otpEntriesWrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  column-gap: 0.3em;
}

.otpCharEntry {
  width: 12.5%;
  text-align: center;
  background-color: var(--authPage-signupForm-otpEntry-background-color);
  color: inherit;
  border: none;
  border-bottom: 0.1em solid var(--authPage-signupForm-otpEntry-border-bottom-color);
}

.loginProcessingModalDialog {
  background-color: var(--authPage-signupForm-dialog-backgroundColor);
  padding: 0.3em;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* To prevent scrollbar from showing up automatically */
  overflow: hidden;
}

.loadingSpinner {
  border: 0.5em solid var(--authPage-signupForm-loadingSpinner-border-color); 
  border-top: 0.5em solid var(--authPage-signupForm-loadingSpinner-border-top-color); 
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.verifyOtpAndCreateAccountButtonWrapper {
  display: flex;
  justify-content: center;
}

.verifyOtpAndCreateAccountButton {
  background-color: var(--authPage-signupForm-otpDialog-verifyOtpAndCreateAccountButton-background-color);
  cursor: pointer;
  margin-top: 0.3em;
}

.verifyOtpAndCreateAccountButton:active:enabled {
  transform: scale(1.1);
}

.resendBothOtpsButton {
  color: var(--authPage-signupForm-otpDialog-resendBothOtpsButton-text-color);
  background-color: transparent;
  border: none;
  margin-top: 0.1em;
}

.resendBothOtpsButton:enabled {
  cursor: pointer;
}

.resendBothOtpsButton:enabled:active {
  text-decoration-line:underline;
}

.resendBothOtpsButton:disabled {
  opacity: 0.5;
  color: inherit;
}

.emailOtpLabel {
  margin-top: 0.5em;
}

.phoneSmsOtpLabel {
  margin-top: 0.5em;
}

.otpTimeRemainingToExpireIndicator {
  margin-top: 0.8em;
}


/* for phones in landscape and for small tablets */
@media (min-width: 37.5em) {

  .labelAndTextFieldsWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.2em;
    /* border: 2px solid green; */
    justify-content: center; 
  }

  .labelForTextField {
    justify-self: end;
    align-self: center;
  }

  .textField {
    width: 95%;
  }

  .phoneNumberTextField {
    width: 75%;
    outline: none;
    padding: 0 0.1em;
  }

  .otpDialog {
    width: 50%;
  }
}



/* for large tablets */
@media (min-width: 62em) {
  .signupForm {
    font-size: 1.4rem;
  }

  .signupFormHeader {
    font-size: 1.6rem;
  }

  .userHelperTextsWrapper {
    font-size: 1.4rem;    
  }

  .otpDialog {
    font-size: 1.4rem;
  }

  .otpCharEntry {
     width: 9%;
  }
}


/* for laptops and desktops */
@media (min-width: 75em) {
  .otpDialog {
    width: 37.5%;
  }

  
}