
.light {
  --html-body-backgroundColor: white;
  --authPage-appBar-backgroundColor: lightblue;
  --authPage-appBar-borderColor: black;
  --authPage-appBar-appLogo: url("./static/images/todo-app-icon-dark.svg"); /* TODO */
  --authPage-appBar-text-color: black;
  --authPage-appBar-lightDarkThemeToggle-image: url("./static/images/dark-mode-icon-light.svg");

  /* CSS variables for login form(LoginForm.js) inside authentication page(AuthPage.js) */
  --authPage-loginForm-backgroundColor: lightblue;
  --authPage-loginForm-textColor: black;
  --authPage-loginForm-textField-backgroundColor: white;
  --authPage-loginForm-TextField-textColor: black;
  --authPage-loginForm-textField-errorState-border-color: red;
  --authPage-loginForm-showPasswordCheckbox-backgroundColor: blue;
  --authPage-loginForm-formSubmitLoginButton-backgroundColor: white;
  --authPage-loginForm-userHelperTextLink-text-color: blue;
  --authPage-loginForm-dialog-backgroundColor:lightblue;
  --authPage-loginForm-dialog-text-color: black;
  --authPage-loginForm-loginProcessingSpinner-border-color: white;
  --authPage-loginForm-loginProcessingSpinner-border-top-color: black;
  --authPage-loginForm-invalidLoginDialog-closeButton-background-image: url("./static/images/dialog-close-icon-light.svg");
  --authPage-loginForm-invalidLoginDialog-invalidLoginImage-background-image: url("./static/images/red-background-cross-icon-light.svg");
  --authPage-loginForm-dialog-closeButton-background-image: url("./static/images/dialog-close-icon-light.svg");

  /* CSS variables for signup form(SignupForm.js) inside authentication page(AuthPage.js) */
  --authPage-signupForm-backgroundColor: lightblue;
  --authPage-signupForm-textColor: black;
  --authPage-signupForm-textField-backgroundColor: white;
  --authPage-signupForm-TextField-textColor: black;
  --authPage-signupForm-textField-errorState-border-color: red;
  --authPage-signupForm-showPasswordCheckbox-backgroundColor: blue;
  --authPage-signupForm-formSubmitContinueButton-backgroundColor: white;
  --authPage-signupForm-userHelperTextLink-text-color: blue;
  --authPage-signupForm-userHelperText-rulesHeader-text-color: blue;
  --authPage-signupForm-dialog-backgroundColor: lightblue;
  --authPage-signupForm-dialog-text-color: black;
  --authPage-signupForm-dialog-closeButton-background-image: url("./static/images/dialog-close-icon-light.svg");
  --authPage-signupForm-otpEntry-background-color: lightblue;
  --authPage-signupForm-otpEntry-border-bottom-color: black;
  --authPage-signupForm-loadingSpinner-border-color: white;
  --authPage-signupForm-loadingSpinner-border-top-color: black;
  --authPage-signupForm-otpDialog-verifyOtpAndCreateAccountButton-background-color: white;
  --authPage-signupForm-otpDialog-resendBothOtpsButton-text-color: blue;
  
  
  
  
  
  


}

.dark {
  --html-body-backgroundColor: black;
  --authPage-appBar-backgroundColor: rgb(53, 57, 53); 
  --authPage-appBar-borderColor: white;
  --authPage-appBar-appLogo: url("./static/images/todo-app-icon-dark.svg");
  --authPage-appBar-text-color: white;
  --authPage-appBar-lightDarkThemeToggle-image: url("./static/images/light-mode-icon-dark.svg");

  /* CSS variables for login form(LoginForm.js) inside authentication page(AuthPage.js) */
  --authPage-loginForm-backgroundColor: rgb(53, 57, 53);
  --authPage-loginForm-textColor: white;
  --authPage-loginForm-textField-backgroundColor: #E0E0E0;
  --authPage-loginForm-TextField-textColor: black;
  --authPage-loginForm-textField-errorState-border-color: red;
  --authPage-loginForm-showPasswordCheckbox-backgroundColor: yellow;
  --authPage-loginForm-formSubmitLoginButton-backgroundColor: #E0E0E0;
  --authPage-loginForm-userHelperTextLink-text-color: yellow;
  --authPage-loginForm-dialog-backgroundColor: rgb(53, 57, 53);
  --authPage-loginForm-dialog-text-color: white;
  --authPage-loginForm-loginProcessingSpinner-border-color: #E0E0E0;
  --authPage-loginForm-loginProcessingSpinner-border-top-color: yellow;
  --authPage-loginForm-invalidLoginDialog-closeButton-background-image: url("./static/images/dialog-close-icon-dark.svg");
  --authPage-loginForm-invalidLoginDialog-invalidLoginImage-background-image: url("./static/images/red-background-cross-icon-dark.svg");
  --authPage-loginForm-dialog-closeButton-background-image: url("./static/images/dialog-close-icon-dark.svg");

  /* CSS variables for signup form(SignupForm.js) inside authentication page(AuthPage.js) */
  --authPage-signupForm-backgroundColor: rgb(53, 57, 53);
  --authPage-signupForm-textColor: white;
  --authPage-signupForm-textField-backgroundColor: #E0E0E0;
  --authPage-signupForm-TextField-textColor: black;
  --authPage-signupForm-textField-errorState-border-color: red;
  --authPage-signupForm-showPasswordCheckbox-backgroundColor: yellow;
  --authPage-signupForm-formSubmitContinueButton-backgroundColor: #E0E0E0;
  --authPage-signupForm-userHelperTextLink-text-color: yellow;
  --authPage-signupForm-userHelperText-rulesHeader-text-color: yellow;
  --authPage-signupForm-dialog-backgroundColor: rgb(53, 57, 53);
  --authPage-signupForm-dialog-text-color: white;
  --authPage-signupForm-dialog-closeButton-background-image:url("./static/images/dialog-close-icon-dark.svg");
  --authPage-signupForm-otpEntry-background-color: rgb(53, 57, 53);
  --authPage-signupForm-otpEntry-border-bottom-color: white;
  --authPage-signupForm-loadingSpinner-border-color: #E0E0E0;
  --authPage-signupForm-loadingSpinner-border-top-color: yellow;
  --authPage-signupForm-otpDialog-verifyOtpAndCreateAccountButton-background-color: #E0E0E0;
  --authPage-signupForm-otpDialog-resendBothOtpsButton-text-color: yellow;
  
  
  

  
}

body {
  background-color: var(--html-body-backgroundColor);
}