<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}%n</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}%n</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <logger name="com.awesometodo" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

<!--    <logger name="com.awesometodo.controlleradvice.GlobalExceptionHandler" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>