.otpDialog {
  background-color: var(--authPage-forgotPasswordForm-dialog-backgroundColor);
  color: var(--authPage-forgotPasswordForm-dialog-text-color);
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 0.3em;
  padding-bottom: 0.8em;
  font-size: 1.25rem;
}

.otpdialogHeaderTextAndCloseButtonWrapper {
  display: flex;
  justify-content: end;
}

.otpDialogHeaderText {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.dialogCloseButton {
  background-color: transparent;
  border: none;
  background-image: var(--authPage-forgotPasswordForm-dialog-closeButton-background-image);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
}

.emailOtpLabel {
  margin-top: 0.5em;
}

.otpEntriesWrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  column-gap: 0.3em;
}

.otpCharEntry {
  width: 12.5%;
  text-align: center;
  background-color: var(--authPage-forgotPassswordForm-otpEntry-background-color);
  color: inherit;
  border: none;
  border-bottom: 0.1em solid var(--authPage-forgotPasswordForm-otpEntry-border-bottom-color);
}

.phoneSmsOtpLabel {
  margin-top: 0.5em;
}

.otpTimeRemainingToExpireIndicator {
  margin-top: 0.8em;
}

.resendBothOtpsButton {
  color: var(--authPage-forgotPasswordForm-otpDialog-resendBothOtpsButton-text-color);
  background-color: transparent;
  border: none;
  margin-top: 0.1em;
}

.resendBothOtpsButton:enabled {
  cursor: pointer;
}

.resendBothOtpsButton:enabled:active {
  text-decoration-line:underline;
}

.resendBothOtpsButton:disabled {
  opacity: 0.5;
  color: inherit;
}

.verifyOtpAndCreateAccountButtonWrapper {
  display: flex;
  justify-content: center;
}

.verifyOtpAndCreateAccountButton {
  background-color: var(--authPage-forgotPasswordForm-otpDialog-verifyOtpAndCreateAccountButton-background-color);
  cursor: pointer;
  margin-top: 0.3em;
}

.verifyOtpAndCreateAccountButton:active:enabled {
  transform: scale(1.1);
}


/* for phones in landscape and for small tablets */
@media (min-width: 37.5em) {
   .otpDialog {
    width: 50%;
  }
}

/* for large tablets */
@media (min-width: 62em) {
  .otpDialog {
    font-size: 1.4rem;
  }

  .otpCharEntry {
     width: 9%;
  }
}

/* for laptops and desktops */
@media (min-width: 75em) {
  .otpDialog {
    width: 37.5%;
  } 
}