.passwordResetModalDialog {
  background-color: var(--authPage-forgotPasswordForm-dialog-backgroundColor);
  color: var(--authPage-forgotPasswordForm-dialog-text-color);
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0.3em;
  padding-bottom: 0.8em;
  font-size: 1.25rem;
}

.headerAndCloseButtonWrapper {
  display: flex;
  justify-content: end;
}

.header {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.closeButton {
  background-color: transparent;
  border: none;
  background-image: var(--authPage-forgotPasswordForm-dialog-closeButton-background-image);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
}

.showPasswordCheckboxAndLabelWrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
}

.textField {
  margin-top: 0.3em;
  outline: none;
  background-color: var(--authPage-forgotPasswordForm-textField-backgroundColor);
  width: 100%;
  color: var(--authPage-forgotPasswordForm-TextField-textColor);
  padding: 0 0.1em;  
}

.errorStateForTextField {
  border: 0.1em solid var(--authPage-forgotPasswordForm-textField-errorState-border-color);
}

.showPasswordCheckboxLabel {
  margin-left: 0.2em;
  cursor: pointer;
}

.showPasswordCheckbox {
  accent-color: var(--authPage-forgotPasswordForm-showPasswordCheckbox-backgroundColor);
  cursor: pointer;
}

.formSubmitResetPasswordButtonWrapper {
  display: flex;
  justify-content: center;
}

.formSubmitResetPasswordButton {
  background-color: var(--authPage-forgotPasswordForm-formSubmitResetPasswordButton-backgroundColor);
  margin-top: 0.3em;
  padding: 0.2em;
  cursor: pointer;
}

.formSubmitResetPasswordButton:active {
  transform: scale(1.1);
}

.rulesHeaderAndTextWrapper {
  margin-top: 0.3em;
}

.rulesHeaderText {
  color: var(--authPage-forgotPasswordForm-userHelperText-rulesHeader-text-color);
}

.rulesTextWrapperList {
  list-style-type: none;
}

.rulesTextWrapperList > li::before {
  content: "• ";
}

.messageToUser {
  margin-top: 0.2em;
}

.userHelperLink {
  color: var(--authPage-forgotPasswordForm-userHelperTextLink-text-color);
}


/* for phones in landscape and for small tablets */
@media (min-width: 37.5em) {
  .passwordResetModalDialog {
    width: 90%;
  }

  .labelAndTextFieldsWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.2em;
    /* border: 2px solid green; */
    justify-content: center; 
  }

  .labelForTextField {
    justify-self: end;
    align-self: center;
  } 

  .textField {
    width: 95%;
  }
}

/* for large tablets */
@media (min-width: 62em) {
  .passwordResetModalDialog {
    font-size: 1.4rem;
  }
}

/* for laptops and desktops */
@media (min-width: 75em) {
  .passwordResetModalDialog {
    width: 50%;
  } 
}