.forgotPasswordForm {
  background-color: var(--authPage-forgotPasswordForm-backgroundColor);
  /* border: 0.2em solid red; */
  /* height: 10em; */
  padding: 0.4em;
  color: var(--authPage-forgotPasswordForm-textColor);
  font-size: 1.25rem;

}

.forgotPasswordFormHeader {
  font-size: 1.5rem;
  text-align: center;
}

.textField {
  margin-top: 0.3em;
  outline: none;
  background-color: var(--authPage-forgotPasswordForm-textField-backgroundColor);
  width: 100%;
  color: var(--authPage-forgotPasswordForm-TextField-textColor);
  padding: 0 0.1em;  
}

.errorStateForTextField {
  border: 0.1em solid var(--authPage-forgotPasswordForm-textField-errorState-border-color);
}

.labelAndTextFieldsWrapper {
  margin-top: 0.2em;   
}

.userHelperText {
  margin-top: 0.2em;
}

.formSubmitContinueButtonWrapper {
  display: flex;
  justify-content: center;
}

.formSubmitContinueButton {
  background-color: var(--authPage-forgotPasswordForm-formSubmitContinueButton-backgroundColor);
  margin-top: 0.3em;
  padding: 0.2em;
  cursor: pointer;
}

.formSubmitContinueButton:active {
  transform: scale(1.1);
}

.userHelperTextsWrapper {
  color: var(--authPage-forgotPasswordForm-textColor);
  font-size: 1.25rem;
  margin-top: 0.3em;  
}

.loginUserHelperLink {
  color: var(--authPage-forgotPasswordForm-userHelperTextLink-text-color);
}

.signupUserHelperText {
  margin-top: 0.3em;
}

.forgotPasswordHelperLink {
  color: var(--authPage-forgotPasswordForm-userHelperTextLink-text-color);
}

/* for phones in landscape and for small tablets */
@media (min-width: 37.5em) {

  .labelAndTextFieldsWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.2em;
    /* border: 2px solid green; */
    justify-content: center; 
  }

  .labelForTextField {
    justify-self: end;
    align-self: center;
  }

  .textField {
    width: 95%;
  }
}

/* for large tablets */
@media (min-width: 62em) {
  .forgotPasswordForm {
    font-size: 1.4rem;
  }

  .forgotPasswordFormHeader {
    font-size: 1.6rem;
  }

  .userHelperTextsWrapper {
    font-size: 1.4rem;    
  }
}

