.bodyBackgroundColorOverride {
  background-color: black;
}

.editNotePageWrapper {
  font-size: 1.25rem;
}

.noteActionButtonsWrapper {
  margin-top: 0.7em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.5em;
  padding-left: 0.5em;
  color: white;
}

.noteActionButton {
  background-color: rgb(53, 57, 53);
  color: inherit;
  padding: 0.7em;
}

.timeStampsWrapper {
  margin-top: 0.3em;
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  row-gap: 0.2em;
  column-gap: 0.3em;
  color: white;
}

 .timeStampLabel {
  
} 

.noteFieldsWrapper {
  margin-top: 0.3em;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  row-gap: 0.5em;
  column-gap: 0.2em;
  padding: 0 0.5em;
  color: white;
}

.textArea {
  width: 96%;
  padding: 0.2em 0.2em;
  overflow-y: scroll;
  height: 5em;
  background-color: #E0E0E0;
}

.textArea:focus {
  outline: 0.1em solid orange;
}

.dueDateFieldAndClearButtonWrapper {
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.dueDateField {
  padding-left: 0.1em;
  background-color: #E0E0E0;
  width: 70%;
}

.dueDateField:focus {
  outline: 0.1em solid orange;
}

.clearDueDateFieldButton {
  background-color: rgb(53, 57, 53);
  color: inherit;
  padding: 0.2em;
}

.dropDown {
  padding: 0.2em;
  background-color: #E0E0E0;
}

.dropDown:focus {
  outline: 0.1em solid orange;
}

.priorityDropDown {
  width: max-content;
}

.statusDropDown {
  width: max-content;
  padding: 0.2em;
}

.closeWithoutSavingDialogButtonsWrapper {
  margin-top: 0.3em;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.closeWithoutSavingDialogButton {
  background-color: white;
  padding: 0.3em 0.75em;
}

.deleteNoteDialogButtonsWrapper {
  margin-top: 0.3em;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.deleteNoteDialogButton {
  background-color: white;
  padding: 0.3em 0.75em;
}

.quillToolbarAndEditorWrapper {
  padding: 0 0.3em;
}

.quillEditor {
  max-height: 40em;
  overflow-y: scroll;
  color: white;
}

:global(.ql-toolbar) {
  margin-top: 1em;
}

:global(.ql-editor) {
  font-size: 1.25rem;
}

:global(.ql-toolbar.ql-toolbar button svg *),:global(.ql-toolbar .ql-size span svg *),:global(.ql-toolbar .ql-header span svg *),:global(.ql-toolbar .ql-align span svg *),
:global(.ql-toolbar .ql-color span svg *),:global(.ql-toolbar .ql-background span svg polyline),:global(.ql-toolbar .ql-background span svg line) {
  stroke: white;
}

/* drop down that appears when you click on align option in toolbar */
:global(.ql-toolbar .ql-align .ql-picker-options) {
  background-color: black;
}

/*text of font size option in toolbar */
:global(.ql-toolbar .ql-size .ql-picker-label::before) {
  color: white;
  font-size: 1.25rem;
}

/* text of heaer size option in toolbar */
:global(.ql-toolbar .ql-header .ql-picker-label::before) {
  color: white;
  font-size: 1rem;
}

:global(.ql-toolbar button svg),:global(.ql-toolbar span svg) {
 transform: scale(1.8);
}

:global(.ql-toolbar .ql-formats > span),
:global(.ql-toolbar .ql-formats > button) {
  margin-left: 1.2em;
  margin-top: 1em;
}

/* color squares within the font color change and background color change toolbar options*/
:global(.ql-toolbar.ql-toolbar .ql-color .ql-picker-options > span),:global(.ql-toolbar.ql-toolbar .ql-background .ql-picker-options > span) {
  display: inline-block;
  width: 2.7em;
  height: 2.7em;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

/* align options in align feature of toolbar */
:global(.ql-toolbar .ql-align .ql-picker-options > span) {
  margin-top: 0.75em;
}

/* font size options in size feature of toolbar */
:global(.ql-toolbar .ql-size .ql-picker-options>span) {
  padding-top: 1em;
  padding-bottom: 1em;

}

/* header size options in header feature of toolbar */
:global(.ql-toolbar .ql-header .ql-picker-options>span) {
  padding-top: 1em;
  padding-bottom: 1em;
}






